<header class="header">
  <div class="header-inner">
    <div class="title-wrapper">
      <span id="toggle-menu-btn" class="toggle-menu">
        <i class="fa fa-fw fa-bars"></i>
      </span>
      <div class="title-meta">
        <a class="title link-btn" href="<%= rootPath%>/index.html"><%= title%></a>
      </div>
      <% if (subTitle) { %><p class="sub-title"><%= subTitle%></p><% } %>
    </div>
    <div id="nav-bar" class="nav-bar-wrapper">
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a class="link-btn" href="<%= rootPath%>/index.html">
            <i class="fa fa-fw fa-home"></i>
            首页
          </a>
        </li>
        <li class="nav-menu-item">
          <a class="link-btn" <% if (linkIssue) {%>href="<%= rootPath%>/posts/link.html"<%}%>>
            <i class="fa fa-fw fa-link"></i>
            链接
          </a>
        </li>
        <li class="nav-menu-item">
          <a class="link-btn" <% if (aboutIssue) {%>href="<%= rootPath%>/posts/about.html"<%}%>>
            <i class="fa fa-fw fa-user"></i>
            关于
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>