<% if (totalPages > 1) { %>
<nav class="pagination">
    <%if (hasPrev) {%>
    <a class="prev" href="<%= rootPath%><% if (currentPage !== 2) { %>/pages/<%= currentPage - 1%><% } %>/index.html">
        <i class="fa fa-angle-left"></i>
    </a>
    <% } else { %>
    <span class="prev disabled" aria-disabled="true">
        <i class="fa fa-angle-left"></i>
    </span>
    <% } %>
    <% for (let i = 1; i <= totalPages; i++) {%>
        <% if (currentPage === i) {%>
            <span class="page-num current-page"><%= i%></span>
        <% } else {%>
            <a class="page-num" href="<%= rootPath%><% if (i !== 1) { %>/pages/<%= i%><% } %>/index.html"><%= i%></a>
        <% } %>
    <% } %>
    <%if (hasNext) {%>
        <a class="next" href="<%= rootPath%>/pages/<%= currentPage + 1%>/index.html">
            <i class="fa fa-angle-right"></i>
        </a>
    <% } else { %>
        <span class="next disabled" aria-disabled="true">
       <i class="fa fa-angle-right"></i>
    </span>
    <% } %>
</nav>
<% } %>
