<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./assets/lib/css/index.css" />
  <script type="text/javascript" src="./assets/lib/js/util.js"></script>
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="header-inner">
        <div class="title-wrapper">
          <span id="toggle-menu-btn" class="toggle-menu">
            <i class="fa fa-fw fa-bars"></i>
          </span>
          <div class="title-meta">
            <a class="title" href="./index.html"><%= title%></a>
          </div>
          <% if (subTitle) { %><p class="sub-title"><%= subTitle%></p><% } %>
        </div>
        <div id="nav-bar" class="nav-bar-wrapper">
          <ul class="nav-menu">
            <li class="nav-menu-item">
              <a href="./index.html">
                <i class="fa fa-fw fa-home"></i>
                首页
              </a>
            </li>
            <li class="nav-menu-item">
              <a <% if (linkIssue) {%>href="./pages/link.html"<%}%>>
                <i class="fa fa-fw fa-link"></i>
                链接
              </a>
            </li>
            <li class="nav-menu-item">
              <a <% if (linkIssue) {%>href="./pages/about.html"<%}%>>
                <i class="fa fa-fw fa-user"></i>
                关于
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main class="content">
      <div class="content-inner">
        <section class="posts-wrapper">
          <% pageIssueList.forEach((issue) => { %>
          <article class="post">
            <div class="post-header-wrapper">
              <div class="post-title-wrapper">
                <a class="post-title" href="./pages/<%= issue.id%>.html"><%= issue.title%></a>
              </div>
              <div class="post-site-wrapper">
                <span class="post-create-date"><i class="fa fa-fw fa-calendar-plus-o"></i><%= issue.createdDate%></span>
                <span class="divider">|</span>
                <span class="post-update-date"><i class="fa fa-fw fa-calendar-check-o"></i><%= issue.updatedDate%></span>
                <% if (issue.labels && issue.labels.length) { %>
                <div class="post-labels-wrapper">
                  <% issue.labels.forEach(label => { %>
                  <span class="post-label" title="<%= label.description%>" aria-label="<%= label.name%>" style="color: <%= label.color%>"><%= label.name%></span>
                  <% }) %>
                </div>
                <% } %>
              </div>
            </div>
            <div class="post-description">
              <%- issue.description%>
            </div>
            <div class="post-actions-wrapper">
              <a class="action-btn" href="./pages/<%= issue.id%>.html">
                阅读原文
              </a>
            </div>
          </article>
          <% }) %>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="footer-inner">
        <div>
          Copyright ©
          <span class="current-year"><%= currentYear%></span>
          <a href="<%= footerUrl%>" ><%= footerTitle%></a>
        </div>
      </div>
    </footer>
  </div>
</body>
<script type="text/javascript" src="./assets/lib/js/nav-bar.js"></script>
</html>